.dialogs {
    display: grid;
    grid-template-areas:
            "d m";

    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}
.dialogsItem a.activeLink {
    color: darkred;
}

.dialog {
    color: darkblue;
}

.messages {
    padding: 10px;

}

.message {
    color: darkblue;
}

.dialog_background {
    grid-area: d;
    background-color: cadetblue;
}

.messages_background {
    grid-area: m;
    background-color: aquamarine;
}
